.custom-href {
  font-family: 'Inter', sans-serif;
  color: #64DEA1;
  position: relative;
}
.custom-input{
  background: none;
  color: white;
  border-bottom: 2px solid #64DEA1;
  padding-bottom: 5px;
}
.chart-container {
  transition: transform 0.3s ease-in-out;
}

.chart-container:hover {
  transform: scale(1.05);
}

.chart-image {
  transition: filter 0.3s ease-in-out;
}

.chart-container:hover .chart-image {
  filter: brightness(75%);
}

.chart-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.chart-container:hover .chart-info {
  opacity: 1;
}
