.musica-info {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.custom-ball1{
  color: #64DEA1;
}
.custom-ball2{
  color: #4FB686;
}
.custom-ball3{
  color: #259C50;
}

.musica-selecione {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #007F4F, #64DEA5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.bg-fundo {
  background: rgb(13,13,13);
  background: linear-gradient(90deg, rgba(13,13,13,1) 0%, rgba(13,13,13,1) 7%, rgba(32,32,32,1) 50%, rgba(13,13,13,1) 95%);
}

.bg-card {
  background: rgb(13,13,13);
  background: linear-gradient(90deg, rgba(13,13,13,1) 0%, rgba(233,233,233,1) 0%, rgba(241,239,239,1) 20%, rgba(181,181,181,1) 72%);
}

.bg-body{
  background-color: #0D0D0D;
}

.seu-div {
  display: none; 
}

.mostrar {
  display: block;
}


.animated-element {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.animated-element.active {
  opacity: 1;
}


  .box {
    opacity: 0;
  }


   .animate__slow {
    --animate-duration: 1.0s;
  }




