<main>
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 100vh;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("https://i.postimg.cc/c49WvksT/albuns-bom.jpg"); background-size: cover;'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto mt-16">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div>
            <h1 class="musica-info text-white font-semibold text-6xl">
              Explore novas músicas.
            </h1>
            <p class="musica-info mt-4 text-lg text-gray-300">
              Descubra novas melodias e expanda seus horizontes musicais com a função de encontrar músicas baseadas nos
              gêneros selecionados - onde cada escolha é uma porta para um mundo de sonoridades inexploradas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class=" pb-20 bg-gradient-to-br  -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="box animate__slow relative flex flex-col min-w-0 break-words bg-gray-200 w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-300">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Um Mosaico de Culturas</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Neste álbum, as vozes de diferentes cantores se unem em um coro que celebra a riqueza e a variedade das
                culturas ao redor do globo
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="box  animate__slow relative flex flex-col min-w-0 break-words bg-gray-200 w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Ritmos do Mundo</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Uma Dança Universal - De batidas africanas a melodias asiáticas, este álbum é uma celebração da riqueza
                cultural do mundo.
              </p>
            </div>
          </div>
        </div>
        <div class="box  animate__slow pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-gray-200 w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-500">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Cores da Humanidade</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Celebrando a Diversidade - As músicas deste álbum são como pinceladas de cores vibrantes em uma tela.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="box  animate__slow flex  items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-green-500">
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="mb-4 text-3xl musica-selecione mb-4 font-semibold leading-normal">
            Selecione seus gêneros preferidos!
          </h3>
          <div>

            <div class="h-1/5">
              <button (click)="selecionarGenero('brazil')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                       ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Brasil
                </span>
              </button>
              <button (click)="selecionarGenero('funk')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                       ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Funk
                </span>
              </button>
              <button (click)="selecionarGenero('jazz')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Jazz
                </span>
              </button>
              <button (click)="selecionarGenero('metal')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Metal
                </span>
              </button>
              <button (click)="selecionarGenero('indie')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Indie
                </span>
              </button>
              <button (click)="selecionarGenero('soul')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Soul
                </span>
              </button>
              <button (click)="selecionarGenero('emo')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Emo
                </span>
              </button>
            </div>
            <div class="h-1/5">
              <button (click)="selecionarGenero('minimal-techno')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Minimal-Techno
                </span>
              </button>
              <button (click)="selecionarGenero('rock-n-roll')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Rock-n-Roll
                </span>
              </button>
              <button (click)="selecionarGenero('samba')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Samba
                </span>
              </button>
              <button (click)="selecionarGenero('trap')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Trap
                </span>
              </button>
              <button (click)="selecionarGenero('bossa-nova')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Bossa-Nova ‎
                </span>
              </button>
            </div>
            <div class="h-1/6">
              <button (click)="selecionarGenero('salsa')"
                class="rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Salsa
                </span>
              </button>
              <button (click)="selecionarGenero('new-age')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  New-Age
                </span>
              </button>
              <button (click)="selecionarGenero('mpb')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  MPB
                </span>
              </button>
              <button (click)="selecionarGenero('classical')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  Classica
                </span>
              </button>
              <button (click)="selecionarGenero('pop')"
                class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  ‎ Pop ‎
                </span>
              </button>
              <button (click)="selecionarGenero('j-pop')"
                class="w-28 rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="w-28 rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                  J-pop
                </span>
              </button>
            </div>
            <button (click)="selecionarGenero('k-pop')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                K-pop
              </span>
            </button>
            <button (click)="selecionarGenero('country')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Country
              </span>
            </button>
            <button (click)="selecionarGenero('heavy-metal')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Heavy-Metal
              </span>
            </button>
            <button (click)="selecionarGenero('acoustic')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Acústico
              </span>
            </button>
            <button (click)="selecionarGenero('hardstyle')"
              class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class=" w-36 rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Hardstyle
              </span>
            </button>
            <button (click)="selecionarGenero('alt-rock')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Rock Alternativo
              </span>
            </button>
            <button (click)="selecionarGenero('blues')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
                 ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Blues
              </span>
            </button>
            <button (click)="selecionarGenero('latino')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
               ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Latino
              </span>
            </button>
            <button (click)="selecionarGenero('pagode')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
             ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                Pagode
              </span>
            </button>
            <button (click)="selecionarGenero('post-dubstep')"
              class=" rounded-full relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="rounded-full relative px-5 py-2.5 transition-all
             ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0">
                ‎ ‎ ‎Post-Dubstep‎ ‎ ‎
              </span>
            </button>
          </div>
          <div class="w-full flex justify-center mr-12 mt-6 h-14">
            <button (click)="descobriMusica()"
              class=" text-white  bg-gradient-to-r from-green-600 via-green-700 to-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Descobrir
              uma nova música!</button>
          </div>

        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">

            <div class="relative w-full h-96">
              <!-- Aumentando a altura para 96 unidades (pode ser ajustada conforme necessário) -->
              <img alt="Album Cover" src="https://i.postimg.cc/NFvRB7Xf/topsters2-0.jpg || imagemPadrao"
                class="absolute top-0 left-0 w-full h-full object-cover rounded-t-lg" />

              <img [src]="albumBuscado.images[0].url"
                class="absolute top-0 left-0 w-full h-full object-cover rounded-t-lg" />
            </div>



            <blockquote class="relative p-8 mb-4">
              {{ albumBuscado.name }}
              {{ albumBuscado.artists[0].name }}
              <h4 class="text-xl font-bold text-black">
                {{ albumBuscado.tracks.items[0].name }}
              </h4>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="bg-gray-900 relative py-20">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <iframe style="border-radius:12px" [src]="getSpotifyEmbedUrl(albumBuscado.tracks.items[0].id)" width="120%"
            height="352" frameborder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
          </iframe>
        </div>

        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl text-white font-semibold">{{ albumBuscado.tracks.items[0].name }}</h3>
            <p class="mt-4 text-lg leading-relaxed text-white">
              {{ albumBuscado.tracks.items[0].name }}
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                        class="fas fa-fingerprint"></i></span>
                  </div>
                  <div>
                    <h4 class="text-white">
                      Selecione seus gêneros preferidos!
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                        class="fab fa-html5"></i></span>
                  </div>
                  <div>
                    <h4 class="text-white">Selecione seus gêneros preferidos!</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                        class="far fa-paper-plane"></i></span>
                  </div>
                  <div>
                    <h4 class="text-white">Selecione seus gêneros preferidos!</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
