<main>
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("https://i.postimg.cc/c49WvksT/albuns-bom.jpg");'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div>
            <h1 class="musica-info text-white font-semibold text-6xl">
              Explore novas músicas.
            </h1>
            <p class="musica-info mt-4 text-lg text-gray-300">
              Descubra novas melodias e expanda seus horizontes musicais com a função de encontrar músicas baseadas nos
              gêneros selecionados - onde cada escolha é uma porta para um mundo de sonoridades inexploradas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-20 bg-gradient-to-br from-gray-100 to-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-300">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Um Mosaico de Culturas</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Neste álbum, as vozes de diferentes cantores se unem em um coro que celebra a riqueza e a variedade das
                culturas ao redor do globo
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Ritmos do Mundo</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Uma Dança Universal - De batidas africanas a melodias asiáticas, este álbum é uma celebração da riqueza
                cultural do mundo.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-500">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Cores da Humanidade</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Celebrando a Diversidade - As músicas deste álbum são como pinceladas de cores vibrantes em uma tela.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-green-500">
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="mb-4 text-3xl musica-selecione mb-4 font-semibold leading-normal">
            Selecione seus gêneros preferidos!
          </h3>
          <div >
            <button (click)="selecionarGenero('brazil')"
              class="text-white  bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Brasil</button>
            <button (click)="selecionarGenero('funk')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Funk</button>
            <button (click)="selecionarGenero('jazz')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Jazz</button>
            <button (click)="selecionarGenero('metal')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Hip-Hop</button>
            <button (click)="selecionarGenero('indie')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Indie</button>
            <button (click)="selecionarGenero('soul')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Soul</button>
            <button (click)="selecionarGenero('rock-n-roll')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Rock</button>
            <button (click)="selecionarGenero('samba')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Samba
              Nova</button>
            <button (click)="selecionarGenero('trap')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Trap</button>
            <button (click)="selecionarGenero('bossanova')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Bossa Nova</button>
            <button (click)="selecionarGenero('rock')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Rock</button>
            <button (click)="selecionarGenero('reggae')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Reggae</button>
            <button (click)="selecionarGenero('salsa')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Salsa</button>
            <button (click)="selecionarGenero('new-age')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">New-age</button>
            <button (click)="selecionarGenero('hip-hop')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Rap</button>
            <button (click)="selecionarGenero('mpb')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">MPB</button>
            <button (click)="selecionarGenero('classical')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Clássica</button>
            <button (click)="selecionarGenero('pop')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Pop</button>
            <button (click)="selecionarGenero('k-pop')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Kpop</button>
            <button (click)="selecionarGenero('j-pop')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">J-pop</button>
            <button (click)="selecionarGenero('electronic')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Eletrônica</button>
            <button (click)="selecionarGenero('heavy-metal')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Heavy Metal</button>
            <button (click)="selecionarGenero('country')"
              class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-600 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Country</button>
          </div>
          <div class="flex justify-center mr-12 mt-4">
            <button (click)="descobriMusica()"
              class="text-white  bg-gradient-to-r from-green-600 via-green-700 to-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-400 transform hover:scale-110 transition-transform duration-300 ease-in-out">Descobrir
              uma nova música!</button>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
            <img alt="Album Cover" [src]="albumBuscado.images[1].url" class="w-full align-middle rounded-t-lg" />
            <blockquote class="relative p-8 mb-4">
              <h4 class="text-xl font-bold text-black">
                {{ albumBuscado?.name }}
              </h4>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="relative py-20 bg-white">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img alt="..." class="max-w-full rounded-lg shadow-lg" src="https://i.postimg.cc/W4pdyQxM/SZA.webp" />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Nome da musica</h3>
            <p class="mt-4 text-lg leading-relaxed text-gray-600">
              Info sobre a musica
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                        class="fas fa-fingerprint"></i></span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">
                      info 1
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                        class="fab fa-html5"></i></span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">info 2</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                        class="far fa-paper-plane"></i></span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">info 3</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-20 pb-48 bg-white">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">

          <p class="text-lg leading-relaxed m-4 text-gray-600">
            According to the National Oceanic and Atmospheric
            Administration, Ted, Scambos, NSIDClead scentist, puts the
            potentially record maximum.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
      </div>
    </div>
  </section>
  <section class="pb-20 relative block bg-gray-900">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
        </div>
      </div>
    </div>
  </section>
</main>
