
.musica-info {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.custom-ball1{
  color: #64DEA1;
}
.custom-ball2{
  color: #4FB686;
}
.custom-ball3{
  color: #259C50;
}

