<div class="mr-12 ml-12 mt-32 mb-10 custom-input">
  <p class="custom-href text-2xl font-semibold">
    Mais populares do Brasil
  </p>
</div>

<div class="wrapper mr-6 ml-12">
  <ng-container *ngFor="let section1 of [1, 2, 3]">
    <section id="section{{section1}}">
      <a [href]="'#section' + (section1 === 1 ? 3 : section1 - 1)" class="mt-6 arrow__btn ">‹</a>
      <div class="item" *ngFor="let chart of topCharts.slice((section1 - 1) * 5, section1 * 5)">
        <img class="h-64  rounded-lg" [src]="chart.album.images[1].url" alt="Describe Image">
      </div>
      <a [href]="'#section' + (section1 === 3 ? 1 : section1 + 1)" class="mt-6 arrow__btn ">›</a>
    </section>
  </ng-container>
</div>


<div class="mr-12 ml-12 mt-20 mb-10 custom-input">
  <p class="custom-href text-2xl font-semibold">
    Mais populares mundialmente
  </p>
</div>

<div class="wrapper mr-6 ml-12">
  <ng-container *ngFor="let section of [1, 2, 3]">
    <section id="section{{section}}">
      <a [href]="'#section' + (section === 1 ? 3 : section - 1)" class="mt-6 arrow__btn ">‹</a>
      <div class="item" *ngFor="let chart of topCharts.slice((section - 1) * 5, section * 5)">
        <img class="h-64  rounded-lg" [src]="chart.album.images[1].url" alt="Describe Image">
      </div>
      <a [href]="'#section' + (section === 3 ? 1 : section + 1)" class="mt-6 arrow__btn ">›</a>
    </section>
  </ng-container>
</div>
