.custom-href {
  font-family: 'Inter', sans-serif;
  color: #64DEA1;
  position: relative;
}
.custom-input{
  background: none;
  color: white;
  border-bottom: 2px solid #64DEA1;
  padding-bottom: 5px;
}
