<!-- SeuComponente.component.html -->

<div class="dark">
  <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-custom-gray text-black dark:text-white">
    <div class="mt-14 dark">
      <div class="min-h-screen flex flex-col antialiased bg-custom-gray text-black dark:text-white">
        <div class="ml-14 mt-14 mb-10 md:ml-64 flex justify-center items-center">
          <div class="w-full max-w-4xl p-4">
            <div class="flex justify-between items-center space-x-4">
              <!-- Componente de filtro -->
              <form (submit)="buscarDenuncias($event)" class="flex items-center space-x-4 w-full">
                <div class="w-1/3">
                  <label for="search" class="block text-sm font-medium text-gray-900 dark:text-white">Buscar por Usuário:</label>
                  <div class="relative">
                    <input type="search" id="search" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Digite o nome do usuário" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                  </div>
                </div>

                <!-- Campos de data -->
                <div class="w-1/3">
                  <label for="startDate" class="block text-sm font-medium text-gray-900 dark:text-white">Data Início:</label>
                  <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                </div>

                <div class="w-1/3">
                  <label for="endDate" class="block text-sm font-medium text-gray-900 dark:text-white">Data Fim:</label>
                  <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                </div>

                <div class="w-1/3">
                  <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold rounded p-2 w-full">
                    Procurar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

    <!-- Tabela de denúncias -->
    <div class="w-full p-4">
      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full relative">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">Usuário Denunciado</th>
                <th class="px-4 py-3">Denunciado por:</th>
                <th class="px-4 py-3">Comentário</th>
                <th class="px-4 py-3">Data</th>
                <th class="px-4 py-3">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let denuncia of denuncias">
                <td class="px-4 py-3">{{ denuncia.usuarioReportado.nome }}</td>
                <td class="px-4 py-3">{{ denuncia.usuario.nome }}</td>
                <td class="px-4 py-3">
                  <div class="clickable-text" (click)="openModal(denuncia.comentario.comentario)">
                    {{ truncateText(denuncia.comentario.comentario, 20).truncatedText }}
                    <span *ngIf="truncateText(denuncia.comentario.comentario, 20).isTruncated">...</span>
                  </div>
                </td>
               <td class="px-4 py-3">{{ denuncia.dt_denuncia }}</td>
                <td class="px-4 py-3">
                  <button (click)="fecharDenuncia(denuncia)" class="bg-blue-600 hover:bg-blue-700 text-white font-bold rounded px-2 py-1 mr-2">
                    Fechar
                  </button>
                  <button (click)="deletarComentario(denuncia.comentario, denuncia.comentario.usuario)" class="bg-red-600 hover:bg-red-700 text-white font-bold rounded px-2 py-1">
                    Deletar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="showModalDenuncia"
            class="fixed inset-0 flex items-center justify-center bg-opacity-50 backdrop-filter backdrop-blur-sm">
            <div id="modalComentario"
              class="fundo-comentarios-modal p-8 rounded-xl shadow-lg w-96 overflow-y-auto max-h-96">
              <div class="flex-grow mb-6">
                <div class="py-2 px-4 mb-4 rounded-lg rounded-t-lg custom-checkbox">
                  <textarea [(ngModel)]="comentarioSelecionado" id="comment" rows="6"
                    class="px-0 w-full bg-transparent text-sm text-white border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400"
                    placeholder="Edite seu comentário..." disabled></textarea>
                </div>
                <button type="button" (click)= "closeModalDenuncia()"
                  class="custom-checkbox inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                  OK
                </button>
              </div>
              <div class="flex justify-center">
              </div>
            </div>
          </div>

          <div class="w-full p-4 flex justify-start space-x-4 mt-4 ml-4">
            <button (click)="gerarRelatorioDenuncias()" class="bg-green-600 hover:bg-green-700 text-white font-bold rounded p-2">
              Gerar Relatório de Denúncias
            </button>
            <button (click)="gerarRelatorioUsuarios()" class="bg-green-600 hover:bg-green-700 text-white font-bold rounded p-2">
              Gerar Relatório de Usuários do Mês
            </button>
          </div>
  </div>
</div>
