<app-alerta-usuario></app-alerta-usuario>
<div class="relative mt-24">
  <div *ngIf="imagemBackground || usuario?.imagem_background" class="background-image">
    <img [src]="imagemBackground ? imagemBackground : 'data:image/jpeg;base64,' + usuario.imagem_background"
      alt="Imagem de Fundo">
    <div id="overlay-bg" class="overlay" style="visibility: hidden;"></div>
  </div>
  <div *ngIf="usuario" class="flex justify-center items-center h-screen div-custom relative">
    <div class="flex flex-col w-full max-w-screen-lg ">
      <button id="editar-img-bg"
        class="flex flex-col items-center justify-center hover:font-bold transition-transform transform hover:scale-110 -mt-20 mb-12"
        style="visibility: hidden;" (click)="alterarImagem('background')">
        <img class="" src="https://img.icons8.com/ios-glyphs/30/64dea1/image.png" alt="image" />
        <span>Alterar Imagem de Background</span>
        <p class="text-sm mt-2">Tipos de imagem aceitos: PNG, JPG, JPEG</p>
      </button>
      <div class="text-center relative">
        <div *ngIf="imagemPerfil || usuario?.imagem_perfil" class="flex justify-center drop-shadow-md py-2 relative">
          <div class="relative w-48 h-48">
            <img width="200" height="200"
              [src]="imagemPerfil ? imagemPerfil : 'data:image/jpeg;base64,' + usuario.imagem_perfil"
              alt="Imagem de Perfil" class="rounded-full object-cover w-full h-full">
            <div id="overlay-profile" style="visibility: hidden;"
              class="absolute inset-0 bg-black opacity-70 rounded-full"></div>
            <button id="editar-img-perfil" style="visibility: hidden;" (click)="alterarImagem('perfil')"
              class="absolute inset-0 flex items-center justify-center">
              <img class="transition-transform transform hover:scale-125"
                src="https://img.icons8.com/ios-glyphs/30/64dea1/pencil--v1.png" alt="pencil--v1" />
            </button>
          </div>
        </div>
        <button id="editar-nome" style="visibility: hidden;" (click)="editarNome()" class="hover:font-bold">Editar
          Nome</button>
        <p class="nomeUsuario drop-shadow-md">{{ usuario.nome }}</p>
        <p class="text-sm">Entrou em {{ formatarData(usuario.dt_cadastro) }}</p>
        <button id="excluir-perfil" style="visibility: hidden;" (click)="excluirPerfilModal(usuario, $event)" class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-red-400 to-red-800 group-hover:from-red-400 group-hover:to-red-400 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800">
          <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Excluir Perfil
        </span>
        </button>
        <div class="flex justify-center mt-6">
          <p class="cursor-pointer m-6 group relative w-max" (click)="mostrarConteudo('playlists')" (click)="esconderBotoes()" id="playlists-btn">
            <span class="group-hover:font-bold block" style="width: 100px; text-align: center;">Playlists</span>
            <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
          </p>

          <p class="cursor-pointer m-6 group relative w-max" (click)="mostrarConteudo('avaliacoes')"
            id="avaliacoes-btn">
            <span class="group-hover:font-bold block" style="width: 100px; text-align: center;">Avaliações</span>
            <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
          </p>

          <p class="cursor-pointer m-6 group relative w-max" (click)="mostrarConteudo('descobertas')"
            id="descobertas-btn">
            <span class="group-hover:font-bold block" style="width: 100px; text-align: center;">Descobertas</span>
            <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------------PLAYLISTS------------- -->
<div id="div-musicas" class="bg-transparent w-full max-w-screen-lg mx-auto text-center custom-input">
  <div *ngIf="conteudoSelecionado === 'playlists'" class="text-white mt-6 mb-6 overflow-visible">
    <div *ngFor="let playlist of playlistsDoUsuario" class="mt-4 flex items-center mb-2 relative">
      <div
        class="w-full bg-gray-700 bg-opacity-50 cursor-pointer p-4 rounded-lg flex hover:bg-opacity-30 hover:backdrop-blur-md transition duration-300 ease-in-out"
        (click)="buscarTodasMusicasDaPlaylist(playlist.id)">
        <div class="w-20">
          <img *ngIf="primeirasMusicasDasPlaylists[playlist.id]" [src]="primeirasMusicasDasPlaylists[playlist.id]"
            class="w-full h-auto rounded-lg drop-shadow-md" alt="Miniatura da primeira música">
        </div>
        <div class="flex-grow text-left mt-8 ml-8 text-2xl">{{ playlist.nome }}</div>
        <div class="relative">
          <button (click)="toggleDropdown(playlist, $event)"  id="dropdown-playlist" style="visibility: visible;"
            class="dropdown-playlist inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 rounded-lg focus:ring-4 focus:outline-none dark:hover:bg-gray-200 dark:focus:ring-gray-600"
            type="button">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              viewBox="0 0 16 3">
              <path
                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
            <span class="sr-only">Comment settings</span>
          </button>
          <div *ngIf="mostrarDropdown[playlist.id]" id="dropdownComment1"
            class="absolute right-0 mt-2 w-24 rounded divide-y divide-gray-100 shadow bg-gray-700 divide-gray-600 z-10">
            <ul class="py-1 text-sm text-white" aria-labelledby="dropdownMenuIconHorizontalButton">
              <li>
                <a (click)="editarNomePlaylistModal(playlist, $event)"
                  class="block py-2 px-4 hover:bg-gray-100 hover:bg-gray-600">Editar</a>
              </li>
              <li>
                <a (click)="excluirPlaylistModal(playlist, $event)"
                  class="block py-2 px-4 hover:bg-gray-100 hover:bg-red-500">Excluir</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-32">
      <div class="custom-music mb-6 relative" *ngFor="let track of musicasDaPlaylist.tracks; let i = index">
        <div class="flex items-end">
          <img [src]="track.album.images[1].url" alt="{{ track.name }}" class="mb-2 rounded-lg w-40 h-40 mr-4">
          <div class="text-left mb-2">
            <h1 class="text-3xl font-bold mb-4 musica-info">{{ track.name }}</h1>
            <h2 class="text-1xl font-bold musica-info">{{ track.album.name }}</h2>
          </div>
        </div>
        <div class="absolute top-0 right-0">
          <button id="excluir-musica" (click)="excluirMusicaModal(track.id, $event)"
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 rounded-lg focus:ring-4 focus:outline-none dark:hover:bg-gray-200 dark:focus:ring-gray-600"
            type="button">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              viewBox="0 0 24 24">
              <path d="M3 6h18v2H3V6zm2 4h14v12H5V10zm4 2h2v8H9v-8zm4 0h2v8h-2v-8z" />
            </svg>
            <span class="sr-only">Excluir música</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="conteudoSelecionado === 'avaliacoes'" class="mt-4">
    <div *ngFor="let musica of musicasAvaliadas.tracks" class="custom-music mb-6 relative">
      <div class="flex items-end">
        <img [src]="musica.album.images[1].url" alt="{{ musica.name }}" class="mb-6 rounded-lg w-40 h-40 mr-4">
        <div class="text-left mb-6">
          <h1 class="text-3xl font-bold mb-4 musica-info">{{ musica.name }}</h1>
          <h2 class="text-1xl font-bold musica-info">{{ musica.album.name }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="conteudoSelecionado === 'descobertas'" class="text-white mt-6 mb-6 overflow-hidden">
    <div>
      <div class="custom-music mb-6 relative" *ngFor="let track of musicasDaPlaylistDescobertas.tracks">
        <div class="flex items-end">
          <img [src]="track.album.images[1].url" alt="{{ track.name }}" class="mb-6 rounded-lg w-40 h-40 mr-4">
          <div class="text-left mb-6">
            <h1 class="text-3xl font-bold mb-4 musica-info">{{ track.name }}</h1>
            <h2 class="text-1xl font-bold musica-info">{{ track.album.name }}</h2>
          </div>
        </div>
        <div *ngFor="let playlist" class="mt-6">
          <div class="absolute top-0 right-0">
            <button (click)="toggleDropdown(playlist, $event)"
              class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 rounded-lg focus:ring-4 focus:outline-none dark:hover:bg-gray-200 dark:focus:ring-gray-600"
              type="button">
              <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 16 3">
                <path
                  d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
              </svg>
              <span class="sr-only">Comment settings</span>
            </button>
            <div *ngIf="mostrarDropdown[playlist.id]" id="dropdownComment1"
              class="mt-4 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownMenuIconHorizontalButton">
                <li>
                  <a href="#"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <a href="#"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                </li>
                <li>
                  <a href="#"
                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                </li>
              </ul>
            </div>
            <!-- <div class="mt-24">
              <div class="flex items-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar nome do usuário-->
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content bg-black bg-opacity-50 backdrop-filter backdrop-blur-sm ">
    <h2 class="text-xl font-bold mb-4 nomeUsuario justify-center">Editar Nome</h2>
    <input [(ngModel)]="novoNome" type="text" class="input-modal w-full p-2 border border-gray-300 rounded mb-4 "
      placeholder="Novo Nome">
    <div class="flex justify-center gap-2">
      <button (click)="fecharModal()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Fechar
        </span>
      </button>
      <button (click)="salvarNome()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Salvar
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Modal para editar nome da playlist-->
<div *ngIf="isModalPlaylistOpen" class="modal-overlay">
  <div class="modal-content bg-black bg-opacity-50 backdrop-filter backdrop-blur-sm ">
    <h2 class="text-xl font-bold mb-4 nomeUsuario justify-center">Editar Nome da Playlist</h2>
    <input [(ngModel)]="novoNomePlaylist" type="text"
      class="input-modal w-full p-2 border border-gray-300 rounded mb-4 " placeholder="Novo Nome">
    <div class="flex justify-center gap-2">
      <button (click)="fecharModal()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Fechar
        </span>
      </button>
      <button (click)="salvarNomePlaylist()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Salvar
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Modal para excluir playlist -->
<div *ngIf="isModalPlaylistExcluirOpen" class="modal-overlay">
  <div class="modal-content bg-black bg-opacity-70 backdrop-filter backdrop-blur-sm ">
    <h2 class="text-xl font-bold mb-4 nomeUsuario justify-center">Tem certeza que deseja excluir essa playlist?</h2>
    <div class="flex justify-center">
      <h3 class="text-md font-medium mb-4 justify-center alerta">Essa ação não pode ser desfeita!</h3>
    </div>
    <div class="flex justify-center gap-2">
      <button (click)="fecharModal()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Cancelar
        </span>
      </button>
      <button (click)="excluirPlaylist()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-red-400 to-red-800 group-hover:from-red-400 group-hover:to-red-400 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Excluir
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Modal para excluir musica da playlist -->
<div *ngIf="isModalMusicaExcluirOpen" class="modal-overlay">
  <div class="modal-content bg-black bg-opacity-70 backdrop-filter backdrop-blur-sm ">
    <h2 class="text-xl font-bold mb-4 nomeUsuario justify-center">Tem certeza que deseja remover essa música?</h2>
    <!-- <div class="flex justify-center">
      <h3 class="text-md font-medium mb-4 justify-center alerta">Essa ação não pode ser desfeita!</h3>
    </div> -->
    <div class="flex justify-center gap-2">
      <button (click)="fecharModal()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Cancelar
        </span>
      </button>
      <button (click)="excluirMusicaPlaylist()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-red-400 to-red-800 group-hover:from-red-400 group-hover:to-red-400 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Excluir
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Modal para excluir perfil -->
<div *ngIf="isModalPerfilExcluirOpen" class="modal-overlay">
  <div class="modal-content-excluir bg-black bg-opacity-70 backdrop-filter backdrop-blur-sm ">
    <h2 class="text-xl font-bold mb-4 nomeUsuario justify-center">Tem certeza que excluir sua conta?</h2>
    <div class="flex justify-center">
      <h3 class="text-md font-medium mb-4 justify-center alerta">Essa ação não pode ser desfeita!</h3>
    </div>
    <div class="flex justify-center gap-2">
      <button (click)="fecharModal()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Cancelar
        </span>
      </button>
      <button (click)="excluirPerfil()"
        class="w-36 rounded-full relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 group bg-gradient-to-br from-red-400 to-red-800 group-hover:from-red-400 group-hover:to-red-400 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800">
        <span
          class="w-36 rounded-full relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 group-hover:bg-opacity-0">
          Excluir
        </span>
      </button>
    </div>
  </div>
</div>
