<div *ngIf="usuario" class="mt-40 flex justify-center items-center h-screen div-custom">
  <div class="flex flex-col w-full max-w-screen-lg">
    <div class="text-center">
      <div *ngIf="usuario?.imagem_perfil" class="flex justify-center drop-shadow-md py-2">
        <img width="200" height="200" [src]="'data:image/jpeg;base64,' + usuario.imagem_perfil" alt="Imagem de Perfil">
      </div>
      <p class="nomeUsuario drop-shadow-md">{{ usuario.nome }}</p>
      <p class="text-1xl">Cadastrado desde: {{ usuario.dt_cadastro }}</p>
      <div class="mt-6 mb-6 flex flex-col items-center">
        <div class="flex space-x-4">
          <button class="botao-perfil" (click)="mostrarConteudo('playlists')">Playlists</button>
          <button class="botao-perfil" (click)="mostrarConteudo('avaliacoes')">Avaliações</button>
          <button class="botao-perfil" (click)="mostrarConteudo('descobertas')">Descobertas</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-transparent w-full max-w-screen-lg mx-auto py-64 text-center custom-input">
  <div *ngIf="conteudoSelecionado === 'playlists'">

    <p class="text-white">Conteúdo das playlists</p>
  </div>
  <div *ngIf="conteudoSelecionado === 'avaliacoes'">

    <p class="text-white">Conteúdo das avaliações</p>
  </div>
  <div *ngIf="conteudoSelecionado === 'descobertas'">

    <p class="text-white">Conteúdo das descobertas</p>
  </div>
</div>
