.div-custom{
  color: #64DEA1;
  font-family: Inter;
}

.nomeUsuario {
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: larger;
  font-weight: bold;
}
