   <!-- TELA DE PERFIL E REDEFINIR SENHA -->
   <div id="alert15" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0 z-50" data-tw-stacking>
    <div class="max-w-sm w-full bg-green-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Sucesso</p>
                    <p class="mt-1 text-sm text-white">E-mail enviado!</p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="alert16" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0 z-50" data-tw-stacking>
    <div class="max-w-sm w-full bg-red-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Erro</p>
                    <p class="mt-1 text-sm text-white">Ocorreu um erro ao enviar E-mail.</p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="alert17" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0" data-tw-stacking>
    <div class="max-w-sm w-full bg-green-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Sucesso</p>
                    <p class="mt-1 text-sm text-white">Perfil atualizado!</p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="alert18" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0" data-tw-stacking>
    <div class="max-w-sm w-full bg-red-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Erro</p>
                    <p class="mt-1 text-sm text-white">Ocorreu um erro ao atualizar o perfil.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="playlistExcluirSucesso" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0" data-tw-stacking>
    <div class="max-w-sm w-full bg-green-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Sucesso</p>
                    <p class="mt-1 text-sm text-white">Playlist excluída!</p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="playlistExcluirErro" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0" data-tw-stacking>
    <div class="max-w-sm w-full bg-red-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Erro</p>
                    <p class="mt-1 text-sm text-white">Ocorreu um erro ao excluir essa playlist!</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="alertaLogin" class="hidden fixed inset-x-0 bottom-0 flex items-end justify-end p-4 pointer-events-none sm:p-6 sm:items-start sm:justify-end transition-opacity duration-500 opacity-0 z-50">
    <div class="max-w-sm w-full bg-red-500 shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-white">Erro</p>
                    <p class="mt-1 text-sm text-white">Email ou senha incorretos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
