.custom-color {
  background: linear-gradient(to bottom,#2F6953 30%,  #0d0d0d);
}


.musica-info {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.salvar-playlist:hover h1 {
  font-weight: bold;
}

.salvar-playlist:hover {
  transform: scale(1.05); /* Aumenta o tamanho da div em 5% ao passar o mouse */
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Adicione a fonte Inter White */
.salvar-playlist h1 {
  font-family: 'Inter', sans-serif;
  color: white;
}

.fundo{
  background-color: #0D0D0D;
}

#dropdownComment1 {
  position: absolute;
  z-index: 999; /* Certifique-se de que o z-index seja maior do que o dos elementos adjacentes, se necessário */
}
