.custom-color {
  background: linear-gradient(to bottom,#2F6953 30%,  #0d0d0d);
}


.musica-info {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.verde-texto {
  font-family: 'Poppins', sans-serif;
  color: #64DEA1;
}

.borda-top-verde {
  border-top: 2px solid #64DEA1; 
}

.salvar-playlist:hover h1 {
  font-weight: bold;
}

.salvar-playlist:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.salvar-playlist h1 {
  font-family: 'Inter', sans-serif;
  color: white;
}

.fundo{
  background-color: #0D0D0D;

}
.fundo-modal {
  background-color: rgba(13, 13, 13, 0.8);
}
.fundo-comentarios-modal {
  background-color: rgba(25, 25, 25, 0.6); /* Cinza claro com 80% de opacidade */
}

.shadow-with-light {
  filter: drop-shadow(0 1px 13px rgb(100 222 161 / 0.3));
}

.custom-input {
  background: none;
  color: white;
  border: none;
  border-bottom: 2px solid #64DEA1;
  padding-bottom: 5px;

}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.alerta {
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.modal-content {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0rem 1rem rgba(100, 222, 161, 0.3)
}

.modal-content-excluir {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0rem 1rem rgba(112, 0, 0, 0.3)
}

.custom-border {
  background: none;
  color: white;
  border: none;
  border: 2px solid #64DEA1;
  border-radius: 16px;
}

.justify-text {
  text-align: justify;
}

.musicritica-button{
  font-family: 'Inter', sans-serif;
  color: #64DEA1;
}

.custom-checkbox{
  background: none;
  border: 2px solid #64DEA1;
}

#dropdownComment1 {
  position: absolute;
  z-index: 999;
}
input:focus {
  outline: none;
}

.inline {
  display: inline;
}


  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8 );
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .rating {
    font-size: 24px;
  }
  
  .star {
    cursor: pointer;

  }
  
  .star mat-icon {
    color: #FFD700; 
  }

