<div class="h-screen flex flex-col">
  <div class="bg-gradient-to-r custom-color text-white p-16 flex items-end justify-between">
    <div class="flex items-end">
      <img [src]="musica.album.images[1].url" alt="{{ musica.name }}"
        class="ml-2  mt-8 mb-6 w-60 h-60 overflow-hidden mr-4 flex-shrink-0 rounded-lg shadow-[0_50px_25px_-24px_rgb(0,0,0,0.5)]">
      <div>
        <h1 class="text-6xl font-bold mb-4 musica-info">{{ musica.name }}</h1>
        <h2 class="text-2xl font-bold mb-6 musica-info">{{ musica.album.name }}</h2>
      </div>
    </div>
    <div class="flex items-center salvar-playlist">
      <img class="mr-2" width="40" height="40" src="https://img.icons8.com/ios/40/FFFFFF/plus--v1.png" alt="plus--v1" />
      <h1 class="font-semibold">Salvar na playlist</h1>
    </div>


  </div>
  <div class="ml-14">
    <div class=" ml-auto mr-96 px-4">
      <iframe style="border-radius:12px" [src]="getSpotifyEmbedUrl(musica.id)" width="80%" height="200" frameborder="0"
        allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
      </iframe>
    </div>
  </div>
</div>
