.custom-color {
  background: linear-gradient(to bottom,#2F6953 30%,  #0d0d0d);
}


.musica-info {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #64DEA1, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

