Na real acabei de notar que isso so ocorre se eu estiver logado no spotify em outra aba, se eu me desconectar da minha conta do spotify e tentar dar play no webplayer do meu sistema a musica vira uma previa e eu nao consigo escutar ela inteira pelo meu sistema se eu nao estiver logado na minha conta do spotify em outra aba. Mas como o player sabe se eu estou o unao autentiado no spotify? ele fica escutando o cache do navegador pra ver se eu me autentiquei no spotify?

o codigo de incorporacao é esse:

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7CBFRsUz1pz1cS12soVhih" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>