.bg-custom-gray{
  background-color: #181818;
}

.custom-input{
  background: none;
  color: white;
  border-bottom: 2px solid #64DEA1;
  padding-bottom: 5px;
}

.nav-buttons {
  font-family: 'Inter', sans-serif;
  color: #64DEA1;
  position: relative;
}
.nav-buttons::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #64DEA1;
  transition: width 0.3s ease, left 0.3s ease;
}
.nav-buttons:hover {
  font-weight: bold;
}
.nav-buttons:hover::before {
  width: 100%;
  left: 0;
}

.musicritica-button{
  font-family: 'Inter', sans-serif;
  color: #64DEA1;
}

.custom-bg{
  background-color: #0D0D0D;
}
.navbar2 {
  overflow: hidden;
  position: fixed;
  top: 0;
}
