<nav class="navbar text-white p-1 fixed top-0 left-0 right-0 z-50 custom-bg " *ngIf="mostrarDiv">
  <div class="container mx-auto flex items-center">
    <a href="/"><img src="https://i.ibb.co/BwSz8Tr/logo-removebg-preview.png" alt="logo-removebg-preview" border="0"
        class="w-14 h-14 mb-4 mr-16"></a>
    <div class="flex">
      <a href="#" class="text-xl font-bold musicritica-button">Musicritica</a>
    </div>
      <a class="cursor-pointer m-6 group relative w-max" href="/descobrir">
        <span class="group-hover:font-bold block text-[#64DEA1]" style="width: 80px; text-align: center;" >Descobrir</span>
        <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
        <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
      </a>

      <a class="cursor-pointer group relative w-max" href="/recomendacoes">
        <span class="group-hover:font-bold block text-[#64DEA1]" style="width: 120px; text-align: center;">Recomendações</span>
        <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
        <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
      </a>

    <div class="relative ml-auto mr-32 mb-1">
      <span class="absolute right-0 top-0 mt-2 ml-2">
        <img (click)="enviarParametro()" width="20" height="20"
          src="https://img.icons8.com/ios-filled/50/64dea1/search--v1.png" alt="search--v1" />
      </span>
      <input type="text" [(ngModel)]="musicaProcurada" placeholder="Buscar"
        class="custom-input text-white px-1 py-2 focus:outline-none" (keyup.enter)="enviarParametro()">
    </div>

    <a class="cursor-pointer group relative w-max" *ngIf="!isUsuarioLogado()">
      <span class="group-hover:font-bold block text-[#64DEA1]" style="width: 50px; text-align: center;" (click)="login()" >Login</span>
      <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
      <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-[#64DEA1] group-hover:w-3/6"></span>
    </a>

    <div *ngIf="usuario?.imagem_perfil" class="relative" (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)">
      <div class="profile-image-container">
        <img class="rounded-full object-cover w-10 h-10 cursor-pointer"
          [src]="'data:image/jpeg;base64,' + usuario.imagem_perfil" alt="Imagem de Perfil">
      </div>
      <div *ngIf="isDropdownOpen"
        class="absolute right-0 mt-4 w-44 dropdown-background divide-y divide-gray-100 rounded-lg drop-shadow-md z-10">
        <ul class="py-2 text-sm dropdown-text">
          <li>
            <a (click)="verPerfilUsuario()" class="flex cursor-pointer block px-4 py-2 hover:bg-zinc-900">
              <img width="18" height="18" class="mr-2" src="https://img.icons8.com/windows/32/64dea1/gender-neutral-user.png" alt="gender-neutral-user"/>
              Ver Perfil</a>
          </li>
          <li>
            <a (click)="exibirEdicao()" class="flex cursor-pointer block px-4 py-2 hover:bg-zinc-900">
              <img width="20" height="15" class="mr-2" src="https://img.icons8.com/ios/50/64dea1/settings--v1.png" alt="settings--v1"/>
              Editar Perfil</a>
          </li>
          <li *ngIf="isAdmin">
            <a href="usuario/denuncia" id="denuncia-dropdown" class="flex block px-4 py-2 hover:bg-zinc-900">
              <img width="18" height="18" class="mr-2" src="https://img.icons8.com/windows/32/64dea1/user-settings.png" alt="user-settings"/>Denúncias</a>
          </li>
          <li>
            <a (click)="logout()" class="flex cursor-pointer block px-4 py-2 hover:bg-zinc-900">
              <img width="20" height="13" class="mr-2" src="https://img.icons8.com/ios/50/64dea1/exit--v1.png" alt="exit--v1"/>Finalizar Sessão</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div *ngIf="mostrarFooter">
  <footer class="mt-96" *ngIf="mostrarDiv">
    <div class="ml-16 mr-16">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex">
          <a href="/"><img src="https://i.ibb.co/BwSz8Tr/logo-removebg-preview.png" alt="logo-removebg-preview"
              border="0" class="w-14 mr-16 mb-4">
          </a>
          <div class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white custom-href">Musicritica
          </div>
        </div>
        <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500  dark:text-gray-400">
          <li>
            <a href="#" class="">Políticas de privacidade</a>
          </li>
        </ul>
      </div>
      <div class="custom-footer">
        <span class="mt-4 mt-4 block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a
            href="https://flowbite.com/" class=""></a>. Todos os direitos reservados.</span>
      </div>
    </div>
  </footer>
</div>
