<div class="mt-16 flex items-center justify-center custom-bg p-4">
    <div class="shadow-md rounded-lg max-w-3xl w-full p-8">
        <h1 class="text-5xl font-bold mb-4 text-center custom-href font-bold">Política de privacidade</h1>
        <p class="mb-4 custom-href font-bold ml-40">
            Este site é mantido e operado por Musicritica.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Nós coletamos e utilizamos alguns dados
            pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo,
            agimos na qualidade de controlador desses dados e estamos sujeitos
            às disposições da Lei nº. 13.709/2018 (Lei Geral de Proteção de Dados
            Pessoais - LGPD). Nós cuidamos da proteção de seus dados pessoais e,
            por isso, disponibilizamos esta política de privacidade, que contém
            informações importantes sobre:
        </p>
        <ul class="list-disc pl-5 mb-4 text-gray-400 font-bold">
            <li>Quem deve utilizar nosso site</li>
            <li>Quais dados coletamos e o que fazemos com eles</li>
            <li>Seus direitos em relação aos seus dados pessoais</li>
            <li>Como entrar em contato conosco</li>
        </ul>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            1 - Dados que coletamos e motivos da coleta
        </p>
        <ul class="list-disc pl-5 mb-4 text-gray-400 font-bold">
            <li>Nosso site coleta e utiliza alguns dados pessoais de nossos usuários, de acordo com o disposto nesta
                seção.</li>
        </ul>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            2 - Dados pessoais fornecidos expressamente pelo usuário
        </p>
        <ul class="list-disc pl-5 mb-4 text-gray-400 font-bold">
            <p class="mb-4">Nós coletamos os seguintes dados pessoais que nossos usuários nos fornecem expressamente ao
                utilizar nosso site:</p>
            <li>Endereço de e-mail</li>
            <li>Foto de perfil</li>
            <li>Foto de capa de perfil</li>
        </ul>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            A coleta destes dados ocorre nos seguintes momentos: Cadastro, login e edição de perfil. Os dados fornecidos
            por nossos usuários são coletados com as seguintes finalidades: Cadastro na plataforma.
        </p>
        <ul class="list-disc pl-5 mb-4 text-gray-400 font-bold">
            <li>Quem deve utilizar nosso site</li>
            <li>Quais dados coletamos e o que fazemos com eles</li>
            <li>Seus direitos em relação aos seus dados pessoais</li>
        </ul>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            3 - Dados sensíveis
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Não serão coletados dados sensíveis de nossos usuários,
            assim entendidos aqueles definidos nos arts. 11 e seguintes
            da Lei de Proteção de Dados Pessoais. Assim, não haverá coleta de dados sobre origem racial ou étnica,
            convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso,
            filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando
            vinculado a uma pessoa natural.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            4 - Coleta de dados não previstos expressamente
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Este sistema não coleta dados não previstos expressamente nesta Política de Privacidade. Não será feita a
            coleta de outros tipos de dados além daqueles explicitamente mencionados aqui, a menos que sejam fornecidos
            com o consentimento do usuário, ou que a coleta seja permitida com base em outra legislação aplicável. Em
            qualquer caso, os usuários serão informados sobre a coleta de dados e as atividades de tratamento delas
            decorrentes.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            5 - Compartilhamento de dados pessoais com terceiros
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Compartilhamos seus dados pessoais com terceiros apenas quando necessário para cumprir determinações legais
            ou regulatórias, ou em resposta a uma ordem emitida por autoridade pública. Além disso, compartilhamos o
            nome de usuário quando um usuário busca por outro dentro da plataforma.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            6 - Por quanto tempo seus dados pessoas ficarão armazenados
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Os dados pessoais fornecidos durante o uso do site serão armazenados e utilizados pelo tempo necessário para
            cumprir os propósitos estabelecidos neste documento e respeitar os direitos dos titulares, bem como as
            disposições legais ou regulatórias pertinentes. Esses dados permanecerão armazenados até que o usuário opte
            por excluir sua conta. Após o término do período de retenção, os dados pessoais serão removidos de nossos
            sistemas.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            7 - Como o titular pode exercer seus direitos
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Para garantir que o usuário que pretende exercer seus direitos é, de fato, o titular dos dados pessoais
            objeto da requisição, poderemos solicitar documentos ou outras informações que possam auxiliar em sua
            correta identificação, a fim de resguardar nossos direitos e os direitos de terceiros. Isso somente será
            feito se necessário. O requerente receberá todas as informações relacionadas.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            8 - Medidas de segurança no tratamento de dados pessoais
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e
            de situações de destruição, perda, extravio ou alteração desses dados. As medidas que utilizamos levam em
            consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual
            violação geraria para os direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por
            empresas semelhantes à nossa.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify custom-href">
            9 - Medidas de segurança no tratamento de dados pessoais
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e
            de situações de destruição, perda, extravio ou alteração desses dados. As medidas que utilizamos levam em
            consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual
            violação geraria para os direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por
            empresas semelhantes à nossa.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Entre as medidas de segurança adotadas por nós, destacamos as seguintes:
        </p>
        <ul class="list-disc pl-5 mb-4 text-gray-400 font-bold">
            <li>Armazenamento de senhas utilizando hashs criptográficos</li>
            <li>Restrições de acesso ao banco de dados</li>
            <li>Restrição de acessos na API</li>
        </ul>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Ainda que adote tudo o que está ao seu alcance para evitar incidentes de segurança, é possível que ocorra
            algum problema motivado exclusivamente por um terceiro - como em caso de ataques de hackers ou crackers ou,
            ainda, em caso de culpa exclusiva do usuário, que ocorre, por exemplo, quando ele mesmo transfere seus dados
            a terceiro. Assim, embora sejamos, em geral, responsáveis pelos dados pessoais que tratamos, nos eximimos de
            responsabilidade caso ocorra uma situação excepcional como essas, sobre as quais não temos nenhum tipo de
            controle.
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            De qualquer forma, caso ocorra qualquer tipo de incidente de segurança que possa gerar risco ou dano
            relevante para qualquer de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de
            Dados acerca do ocorrido, em conformidade com o disposto na Lei Geral de Proteção de Dados.
        </p>
        <p class="mb-4 custom-href font-bold text-justify">
            10 - Alterações nesta política de privacidade
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            A presente versão desta Política de Privacidade foi atualizada pela última vez em: 03/07/2024. Reservamo-nos
            o direito de modificar, a qualquer momento, as presentes normas, especialmente para adaptá-las às eventuais
            alterações feitas em nosso site, seja pela disponibilização de novas funcionalidades, seja pela supressão ou
            modificação daquelas já existentes. Sempre que houver uma modificação, nossos usuários serão notificados
            acerca da mudança.
        </p>
        <p class="mb-4 custom-href font-bold text-justify">
            11 - Como entrar em contato
        </p>
        <p class="mb-4 text-gray-400 font-bold text-justify">
            Para esclarecer quaisquer dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que
            tratamos, entre em contato com nosso Encarregado de Proteção de Dados Pessoais, por algum dos canais
            mencionados abaixo:
        </p>
        <ul class="list-disc pl-5 mb-4 text-gray-400 font-bold">
            <li>E-mail: musicritica01&#64;gmail.com</li>
            <li>Endereço postal: R. Silva Jardim, 360 - Centro, Florianópolis - SC, 88020-200</li>
        </ul>
    </div>
</div>