<div class="mr-8 mt-24">
  <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
    <h1 class="musica-info text-white font-semibold text-2xl mb-10">
      Novas playlists em:
    </h1>
  </div>
  <div class="flex items-start justify-center w-full gap-4 count-down-main">
    <div class="timer w-16">
      <div>
        <h3 id="hours" class="countdown-element font-manrope font-semibold text-2xl custom-href text-center"></h3>
      </div>
      <p class="text-sm font-normal custom-href mt-1 text-center w-full">Horas</p>
    </div>
    <h3 class="font-manrope font-semibold custom-href text-gray-900">:</h3>
    <div class="timer w-16">
      <div>
        <h3 id="minutes" class="countdown-element font-manrope font-semibold text-2xl custom-href text-center"></h3>
      </div>
      <p class="text-sm font-normal custom-href mt-1 text-center w-full">Minutos</p>
    </div>
    <h3 class="font-manrope font-semibold custom-href text-gray-900">:</h3>
    <div class="timer w-16">
      <div>
        <h3 id="seconds" class="countdown-element font-manrope font-semibold text-2xl custom-href text-center"></h3>
      </div>
      <p class="text-sm font-normal custom-href mt-1 text-center w-full">Segundos</p>
    </div>
  </div>
  <div class="mr-12 ml-20 mb-10 custom-input">
    <p class="custom-href text-4xl font-semibold mb-4">
      Playlist - {{genero1}}
    </p>
  </div>
  <div class="wrapper mr-6 ml-20 cursor-pointer">
    <ng-container *ngFor="let setor of [1, 2, 3]">
      <section>
        <a class="mt-6 arrow__btn" (click)="moveCarousel('currentIndexPlaylist1', -1)">‹</a>
        <div class="item"
          *ngFor="let item of itensRecomendadosGenero1.slice(currentIndexPlaylist1, currentIndexPlaylist1 + 5)">
          <div class="carousel-item" (click)="buscarMusicaPorId(item.id)">
            <img class="h-65 rounded-lg" [src]="item.images[1].url" alt="Describe Image">
          </div>
        </div>
        <a class="mt-6 arrow__btn" (click)="moveCarousel('currentIndexPlaylist1', 1)">›</a>
      </section>
    </ng-container>
  </div>
  <div class="indicators">
    <span [class.active]="currentSection1 === 1"></span>
    <span [class.active]="currentSection1 === 2"></span>
  </div>
  <div class="mr-12 ml-20 custom-input">
    <p class="custom-href text-4xl font-semibold mb-4">
      Playlist - {{genero2}}
    </p>
  </div>
  <div class="wrapper mr-6 ml-20 cursor-pointer">
    <ng-container *ngFor="let setor of [1, 2, 3]">
      <section>
        <a class="mt-6 arrow__btn" (click)="moveCarousel('currentIndexPlaylist2', -1)">‹</a>
        <div class="item"
          *ngFor="let item of itensRecomendadosGenero2.slice(currentIndexPlaylist2, currentIndexPlaylist2 + 5)">
          <div class="carousel-item" (click)="buscarMusicaPorId(item.id)">
            <img class="h-65 rounded-lg" [src]="item.images[1].url" alt="Describe Image">
          </div>
        </div>
        <a class="mt-6 arrow__btn" (click)="moveCarousel('currentIndexPlaylist2', 1)">›</a>
      </section>
    </ng-container>
  </div>
  <div class="indicators">
    <span [class.active]="currentSection2 === 1"></span>
    <span [class.active]="currentSection2 === 2"></span>
  </div>
  <div class="mr-12 ml-20 custom-input">
    <p class="custom-href text-4xl font-semibold mb-4">
      Playlist - {{genero3}}
    </p>
  </div>
  <div class="wrapper mr-6 ml-20 cursor-pointer">
    <ng-container *ngFor="let setor of [1, 2, 3]">
      <section>
        <a class="mt-6 arrow__btn" (click)="moveCarousel('currentIndexPlaylist3', -1)">‹</a>
        <div class="item"
          *ngFor="let item of itensRecomendadosGenero3.slice(currentIndexPlaylist3, currentIndexPlaylist3 + 5)">
          <div class="carousel-item" (click)="buscarMusicaPorId(item.id)">
            <img class="h-65 rounded-lg" [src]="item.images[1].url" alt="Describe Image">
          </div>
        </div>
        <a class="mt-6 arrow__btn" (click)="moveCarousel('currentIndexPlaylist3', 1)">›</a>
      </section>
    </ng-container>
  </div>
  <div class="indicators">
    <span [class.active]="currentSection3 === 1"></span>
    <span [class.active]="currentSection3 === 2"></span>
  </div>
</div>