<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat relative background-image">
    <div class="rounded-xl w-1/3 bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8 relative z-10">
        <div class="text-white ">
            <div class="mb-8 flex flex-col items-center ">
                <img src="https://i.ibb.co/BwSz8Tr/logo-removebg-preview.png" width="150" alt="" />
                <h1 class="mb-2 mt-4 text-2xl">Redefinir senha</h1>
                <span class="text-gray-300">Insira sua nova senha</span>
            </div>
            <form (ngSubmit)="redefinirSenha()" #passwordResetForm="ngForm">
                <div class="">
                    <div class="flex justify-center">
                        <div class="justify-center">
                            <div class="relative">
                                <span class="absolute left-0 top-0 mt-2 ml-2">
                                    <img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/FFFFFF/password.png" alt="password" />
                                </span>
                                <input
                                    class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                                    placeholder="Nova senha" type="password" name="senha" [(ngModel)]="senha" required>
                            </div>
                            <div class="relative mt-8">
                                <span class="absolute left-0 top-0 mt-2 ml-2">
                                    <img width="20" height="20"
                                        src="https://img.icons8.com/ios-filled/50/FFFFFF/password.png" alt="password" />
                                </span>
                                <input
                                    class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                                    placeholder="Confirmar senha" type="password" name="senha"
                                    [(ngModel)]="confirmarSenha" required>
                            </div>
                            <button class="form-button text-center mt-4 ml-10" type="submit"
                                [disabled]="passwordResetForm.invalid">CONFIRMAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>