<app-alerta-usuario></app-alerta-usuario>

<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat relative background-image">
  <div class="relative z-10 w-1/3">
    <div class="text-white">
      <form (ngSubmit)="registrar()" #form="ngForm">
        <div class="py-16">
          <div class="flex shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl bg-custom">
            <div class="hidden lg:block bg-cover" style="background-image:url('https://i.imgur.com/jvfa77Z.png')"></div>
            <div class="w-full p-8 bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8 relative z-10 flex flex-col justify-center items-center">
              <div class="mb-8 flex flex-col items-center">
                <img src="https://i.ibb.co/BwSz8Tr/logo-removebg-preview.png" width="150" alt="" />
                <h1 class="text-[#64DEA1] mb-2 text-2xl font-bold ">Musicrítica</h1>
                <span class="text-gray-300">Cadastro</span>
              </div>
              <div class="relative mb-4">
                <span class="absolute left-0 top-0 mt-2 ml-2">
                  <img width="21" height="21" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/person-male.png" alt="person-male" />
                </span>
                <input
                  class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                  placeholder="Nome" type="text" name="nome" [(ngModel)]="nome" required
                  [ngClass]="{'border-red-500': form.submitted && !nome}" maxlength="{{maxLengthNome}}">
                  <span class="absolute right-0 top-0 mt-2 mr-4 text-sm text-gray-300">{{ nome.length }}/{{ maxLengthNome }}</span>
                <div class="alert-container">
                  <div *ngIf="form.submitted && !nome" class="text-red-500 text-sm">Campo obrigatório</div>
                </div>
              </div>
              <div class="relative mb-4">
                <span class="absolute left-0 top-0 mt-2 ml-2">
                  <img width="18" height="18" src="https://img.icons8.com/ios-filled/50/FFFFFF/mail.png" alt="mail" />
                </span>
                <input
                  class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                  placeholder="E-mail" type="email" name="email" [(ngModel)]="email" required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                  [ngClass]="{'border-red-500': form.submitted && !emailValido()}">
                <div class="alert-container">
                  <div *ngIf="form.submitted && !emailValido()" class="text-red-500 text-sm">Email inválido</div>
                  <div *ngIf="form.submitted && !email" class="text-red-500 text-sm">Campo obrigatório</div>
                </div>
              </div>

              <div class="relative mb-4">
                <span class="absolute left-0 top-0 mt-2 ml-2">
                  <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/password.png" alt="password" />
                </span>
                <input
                  class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                  placeholder="Senha" type="password" name="senha" [(ngModel)]="senha" required
                  [ngClass]="{'border-red-500': form.submitted && !senha || senhaInvalida}">
                <div class="alert-container">
                  <div *ngIf="form.submitted && !senha" class="text-red-500 text-sm">Campo obrigatório</div>
                  <div *ngIf="senhaInvalida" class="text-red-500 text-sm justify-center">Senha deve ter pelo menos 6 caracteres.</div>
                </div>
              </div>
              <div class="flex items-center mt-4">
                <span class="text-sm text-white mr-2">Já possui uma conta?</span>
                <button class="text-sm text-white underline" type="button" (click)="fazerLogin()">Faça login</button>
              </div>
              <button class="form-button text-center mt-4" type="submit">CADASTRAR</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
