.bg-custom{
  border-radius: 15px;
}


.bg-custom-green {
  background-image: radial-gradient(circle, #2F6953, #26332D); /* Substitua as cores conforme desejado */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}

.custom-h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff; // Cor do texto
  margin-bottom: 80px; // Espaçamento abaixo do título
  font-size: 38px; // Tamanho da fonte do título
  text-shadow: 1px 2px 5px #0D0D0D;
}
.alert-container {
  height: 10px; 
}

.form-input {
  font-family: 'Inter', sans-serif;
  background: none;
  border-bottom: 2px solid #ffffff; 
  margin-bottom: 40px;
  padding: 5px; 
  color: #ffffff;
  position: relative; 

  padding-left: 35px; 

  &:focus {
    outline: none; 
  }
}

.form-button {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: relative;
  background: none; // Cor de fundo do botão
  color: #fff; // Cor do texto do botão
  padding: 10px 20px; // Espaçamento interno do botão
  border: none;
  cursor: pointer;
  overflow: hidden; // Oculta o conteúdo que transborda
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffffff; // Cor da borda
    transition: width 0.3s ease, left 0.3s ease; // Transição suave
  }
  &:hover {
    font-weight: bold; // Aumenta a intensidade da fonte ao passar o mouse
  }
  &:hover::before {
    width: 100%;
    left: 0;
  }
}

.custom-text {
  font-family: 'Inter', sans-serif;
  color: #ffffff; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.custom-button {
  font-family: 'Inter', sans-serif;
  color: #ffffff; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}
.custom-button:hover{
    font-weight: 700;
}

.custom-link {
  font-family: 'Inter', sans-serif;
  color: #64DEA1; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.custom-border-color{
  border-color: #64DEA1;
}

