<div class="py-16">
  <div class="flex shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl bg-custom">
      <div class="hidden lg:block lg:w-1/2 bg-cover"
          style="background-image:url('https://i.imgur.com/jvfa77Z.png')">
      </div>
      <div class="w-full p-8 lg:w-1/2 bg-custom-green flex flex-col justify-center items-center">
          <h2 class="text-2xl text-center custom-h2">CADASTRO</h2>
          <div class="relative">
            <span class="absolute left-0 top-0 mt-2 ml-2">
              <img width="21" height="21" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/person-male.png" alt="person-male"/>
            </span>
            <input class="form-input pl-12" type="text" name="nome" [(ngModel)]="nome" placeholder="Nome" required>
          </div>
          <div class="relative">
            <span class="absolute left-0 top-0 mt-2 ml-2">
              <img width="18" height="18" src="https://img.icons8.com/ios-filled/50/FFFFFF/mail.png" alt="mail"/>
            </span>
            <input class="form-input" type="email" name="email" [(ngModel)]="email" placeholder="Email" required>
        </div>
        <div class="relative">
          <span class="absolute left-0 top-0 mt-2 ml-2">
            <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/password.png" alt="password"/>
          </span>
          <input class="form-input" type="password" name="senha" [(ngModel)]="senha" placeholder="Senha" required>
        </div>

        <div class="w-[300px] relative border-2 border-gray-300 border-dashed p-6" id="dropzone">
          <input #fileInput id="file-upload" name="file-upload" type="file" class="sr-only" (change)="onFileSelected($event)">
          <div class="text-center">
              <img class="mx-auto" width="40" height="40" src="https://img.icons8.com/ios-filled/50/FFFFFF/image.png" alt="image"/>
              <h3 class="mt-2 text-sm font-medium custom-text">
                  <label for="file-upload" class="relative cursor-pointer">
                      <span>Arraste e solte</span>
                      <span class="custom-link"> ou busque </span>
                      <span>para fazer upload</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only">
                  </label>
              </h3>
              <p class="mt-1 text-xs text-gray-400">
                  PNG, JPG até 5MB
              </p>
          </div>

          <img src="" class="mt-4 mx-auto max-h-20 hidden" id="preview">
      </div>

        <div class="flex items-center mt-4">
          <span class="text-white mr-2 custom-text">Já possui uma conta?</span>
          <button class="text-white underline custom-button" type="button" (click)="fazerLogin()">Faça login</button>
        </div>
        <button class="form-button text-center mt-4" type="submit" (click)="registrar()">CADASTRAR</button>
      </div>
  </div>
</div>
